html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: auto;
    background-image: url('img/xgfondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'montserrat', sans-serif;


}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'); 
}

/* LOADER */
.hidden {
    overflow: hidden;
}
.centrado {
    height: 100vh;
    background-color: #070B19;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }
  .lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: #fff;
  }
  .lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
  }
  .lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
  }
  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
  

/* INICIO DE MENU */
header {
    background-color:transparent;
    color: white;
    padding: 20px 90px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.4s;
}

.menu {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 90px; 
}

.logo img {
    width: 93px;
    height: auto;
}

.menu-item {
    position: relative;
    margin-left: 60px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 768px) {


    .menu {
        display: none;
        flex-direction: column;
        width: 200px;
        background-color: rgba(2, 2, 58, 0.342);
        z-index: 1; 
        border-radius: 13px;


    }

    .menu-toggle {
        display: flex;
    
    }

    .menu.open {
        display: flex;
    }

    .logo {
        margin-left: 20px;
    }
    
    .logo img {
        width: 80px;
        height: auto;
    }
    
    .menu-item {
        margin-left: 20px;
    }

    ul {
        display: list-item;
        padding: 0;
        margin: 0;
        list-style: none;
        
    }
    
    li {
        display:list-item;
        margin-left: 0px;
        text-align: left;
        margin: 15px;

    }



    .bar:nth-child(1).open {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .bar:nth-child(2).open {
        opacity: 0;
    }

    .bar:nth-child(3).open {
        transform: rotate(45deg) translate(-5px, -6px);
    }

}
/* FINAL DE MENU */

@media (max-width: 768px) {
    p {
        font-size: 1em;
    }
}

.text1 {
    text-align: center;
    position: relative;
    margin-top: 130px;


}

.text1 p {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}


.carruselmvs {
display: flex;
position: relative;
justify-content: center;
align-items: center;
max-width: 100%;
margin-top: 60px;
}

@media (max-width: 768px) {

    .text1 {
        margin: 20px;
        margin-top: 230px;
    }
    .carruselmvs {
        flex-direction: column; 
        align-items: flex-start;
    }
}

.iconos {
    position: relative;
    max-width: 100%;
    margin-top: 50px;
    height: auto;
    width: auto;
}

.redesicon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    transition: transform 0.2s ease-in-out;
    margin-right: 60px;
    max-width: 90%;
    height: auto;

}

.redesicon a:hover .icon {
    transform: scale(0.8); 
}

@media (max-width: 768px) {

    .icon {
        margin-right: 20px;
    }
    .redesicon {
        justify-content: center;

    }

    .redesicon a {
        margin: 1em;
        max-width: 20vw;
    }
}



/* CONOCE A XG */
.conoceaxg {
    position: relative;
    margin-top: 170px;
}

.xgdere a:hover .botonmasxg-hover {
    opacity: 1; 
}

.xgdere a:hover img:first-child {
    opacity: 1; 
}
/* FINAL CONOCE A XG */

.xtra {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 160px;
}

.xtra p {
    margin: 10px 0; 
    font-size: 20px;
}

.xtravideos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    margin-top: 30px;

}

@media (max-width: 768px) {
    .xtravideos {
        flex-direction: column;
        align-items: center; 
    
    }

    .xtravideos video {
        width: 100%;
        max-width: 100%; 
    }
}

/* BOTON VER MAS XTRA */

.botonvermas {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.botonvermas a {
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.boton-vermas-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.2s ease-in-out;
}

.xtra a:hover .boton-vermas-hover {
    opacity: 1; 
}

.xtra a:hover img:first-child {
    opacity: 1; 
}

/* FIN BOTON VER MAS XTRA */

.formcont {
display: flex;
flex-wrap: wrap;
margin-top: 50px;
justify-content: center;
margin: 20px;
gap: 55px;
}

.textocontacto {
    position: relative;
    margin-top: 130px;
    font-size: 15px;
    
}

.textocontacto img{
    max-width: 100%;
    height: auto;

}

.textocontacto p{
margin-top: 12px;

}

/* FIN HEY */


.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    align-items: center;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 20px;
}

label {
    color: #555;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button2 {
    background-color: #007BFF;
    color: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .formcont {
        margin-top: 80px;
        justify-content: center;
    }

    .textocontacto {
        margin: 0 auto;
        text-align: center;
    }

    .formulario {
        margin: 0 auto; 
        padding: 10px;
        max-width: 90%;
        margin-top: 20px;
    }
}



/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 140px;
    flex-wrap: wrap;
}

.xgalximage {
    align-items: center;
    margin-top: 9px;
}

.redesicon2 {
    display: flex;
    align-items: center;
    margin-left: 45px;
    flex: 1;
    max-width: 200px;

}
.redesicon2 a {
margin: 10px;
}

@media (max-width: 768px) {

    .footer {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
    }

    .redesicon2 {
        margin-left: 0;
        max-width: 100%;
    }

    .redesicon2 img {
        width: 50px;
        height: auto;
    }

    .zgalximage img {
        width: 100px;
        height: auto;
    }
}

      

/* FIN FOOTER */

.music-player {
    margin: 20px;
    text-align: center;
    margin-top: 680px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

audio {
    display: none;
}

#play-button {
    width: 740px;
    height: 115.85px;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.2s ease-in-out; 
}

#play-button:hover {
    transform: scale(1.1); 
}

@media screen and (max-width: 768px) {
    .music-player {
        margin-top: 820px;
    }

    #play-button {
        width: 100%; 
        height: auto; 
    }
}


